// CRM Related Variables
$crm-input-background-dark:               #f3f3f6;
$crm-input-border:                        #c2cfd8;

// Mosaico Related Variables
$crm-mosaico-template-item:               #f1f5f6;
$crm-mosaico-template-border:             #e8eef0;
$crm-mosaico-template-item-wrapper:       #333;
$crm-mosaico-template-item-shadow:        inset 0 1px 10px 0 rgba(0, 0, 0, .25);

// Identity Colors
$brand-primary:                           #42AFCB;

// Basic Colors
$color-white:                             #fff;
$color-link-dark:                         #4d5663;
