// CRM Related Variables
$crm-input-background-dark:               #f3f3f6;
$crm-input-border:                        #c2cfd8;

// Mosaico Related Variables
$crm-mosaico-template-item:               $gray-lighter;
$crm-mosaico-template-border:             $crm-background;
$crm-mosaico-template-item-wrapper:       #333;
$crm-mosaico-template-item-shadow:        inset 0 1px 10px 0 rgba(0, 0, 0, .25);
$crm-mosaico-font-size-sm:                11px;

// Select2 Widget
$crm-select2-dropdown-border:             #5897FB;

// Bootstrap calendar
$datepicker-border-color:                 rgba(0, 0, 0, 0.15);
$datepicker-gray-dark:                    #535a67;
$datepicker-gray-darker:                  #525966;

$placeholder:                             #AAB2B9;
