.DS_Store
build/
packages/mosaico/
node_modules/
vendor/
tests/backstop_data/cookies
tests/backstop_data/screenshots
tests/backstop_data/*_report
tests/backstop_data/backstop.temp.json
tests/backstop_data/site-config.json
