<div class="crmMosaico-schedule-outer" crm-mailing-radio-date="schedule" ng-model="mailing.scheduled_date">

  <div class="form-group" ng-if="!!mailing.template_options.variants">
    <label class="control-label">{{ts('Testing')}}</label>
    <p><em>{{ts('You have enabled A/B testing. We will send each test message to a subset of your subscribers. Later, you can decide the final mailing.')}}</em></p>
    <crm-mosaico-distribution crm-mailing="mailing" />
  </div>

  <label class="crmMosaico-schedule-title">{{ts('Schedule email to:')}}</label>

  <div class="crmMosaico-schedule-inner form-inline form-inline-tabs" ng-init="selectedTab = 'sendNow'">
    <div class="form-group" ng-class="{'active':schedule.mode === 'now'}" ng-click="selectedTab = 'sendNow'; schedule.mode = 'now'">
      <div class="radio">
        <input ng-model="schedule.mode" type="radio" name="send" value="now" id="schedule-send-now" ng-checked="selectedTab === 'sendNow'" />
        <label for="schedule-send-now">{{ts('Send immediately')}}</label>
      </div>
    </div><div class="form-group" ng-class="{'active':schedule.mode === 'at'}" ng-click="selectedTab = 'sendAt'; schedule.mode = 'at'">
      <div class="radio">
        <input ng-model="schedule.mode" type="radio" name="send" value="at" id="schedule-send-at" ng-checked="selectedTab === 'sendAt'" />
        <label for="schedule-send-at">{{ts('Send on..')}}</label>
      </div>
    </div>
  </div>

  <div ng-class="{'hide':schedule.mode === 'now'}">
    <input crm-ui-datepicker class="form-control crm-date-time" ng-model="schedule.datetime" ng-required="schedule.mode == 'at'" />
  </div>
</div>
