<div class="form-inline" ng-if="!isSplit()">
  <div class="form-group">
    <span ng-controller="EmailAddrCtrl">
      <select
        id="inputReplyTo"
        class="form-control"
        name="replyTo"
        ng-change="checkReplyToChange(mailing)"
        ng-model="mailing.replyto_email"
        crm-ui-select="{width: '40em', dropdownAutoWidth : true, allowClear: true, placeholder: ts('Email address')}"
      >
        <option value="">(Email address)</option><!-- If you fix crm-ui-select, then this label can be emptied. It functions as placeholder text. -->
        <option ng-repeat="frm in crmFromAddresses.getAll() | filter:{is_active:1} | orderBy:'weight'" value="{{frm.label}}">{{frm.label}}</option>
      </select>
    </span>

    <a ng-click="addReplyTo()" class="btn btn-default" title="{{ts('Add alternate \'Reply-To\'')}}">
      <span><i class="crm-i fa-plus-circle"></i></span>
    </a>
  </div>
</div>

<div class="form-inline" ng-if="isSplit()">
  <div class="form-group" ng-repeat="(vid, variant) in mailing.template_options.variants">
    ({{labels[vid]}})

    <span ng-controller="EmailAddrCtrl">
      <select
        id="inputReplyToA"
        class="form-control"
        name="replyToA"
        ng-change="checkReplyToChange(variant)"
        ng-model="variant.replyto_email"
        crm-ui-select="{width: '40em', dropdownAutoWidth : true, allowClear: true, placeholder: ts('Email address')}"
      >
        <option value="">(Email address)</option><!-- If you fix crm-ui-select, then this label can be emptied. It functions as placeholder text. -->
        <option ng-repeat="frm in crmFromAddresses.getAll() | filter:{is_active:1} | orderBy:'weight'" value="{{frm.label}}">{{frm.label}}</option>
      </select>
    </span>

    <a ng-click="rmReplyTo(vid)" class="btn btn-default" title="{{ts('Remove alternate \'Reply-To\'')}}">
      <span><i class="crm-i fa-trash"></i></span>
    </a>
  </div>
</div>
