<div ng-controller="CrmMosaicoMixinCtrl" class="crm-mosaico-page">
  <div ng-form="crmMailingSubform">
    <div class="crm-block crm-form-block crmMailing">
      <div crm-ui-wizard>
        <div crm-ui-wizard-step crm-title="ts('Define Mailing')" ng-form="defineForm">
          <div crm-ui-tab-set>
            <div crm-ui-tab id="tab-mailing" crm-title="ts('Mailing')">
              <div crm-mailing-block-summary crm-mailing="mailing"></div>
              <div>
                <div class="crm-block" ng-form="subform" crm-ui-id-scope>
                  <div class="crm-group">
                    <div crm-ui-field="{name: 'subform.fromAddress', title: ts('From'), help: hs('from_email')}">
                      <div ng-controller="EmailAddrCtrl" crm-mailing-from-address="fromPlaceholder"
                           crm-mailing="mailing">
                        <select
                                crm-ui-id="subform.fromAddress"
                                crm-ui-select="{dropdownAutoWidth : true, allowClear: false, placeholder: ts('Email address')}"
                                name="fromAddress"
                                ng-model="fromPlaceholder.label"
                                required>
                          <option value=""></option>
                          <option ng-repeat="frm in crmFromAddresses.getAll() | filter:{is_active:1} | orderBy:'weight'"
                                  value="{{frm.label}}">{{frm.label}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div crm-ui-field="{name: 'subform.replyTo', title: ts('Reply-To')}"
                         ng-show="crmMailingConst.enableReplyTo">
                      <div ng-controller="EmailAddrCtrl">
                        <select
                                crm-ui-id="subform.replyTo"
                                crm-ui-select="{dropdownAutoWidth : true, allowClear: true, placeholder: ts('Email address')}"
                                name="replyTo"
                                ng-change="checkReplyToChange(mailing)"
                                ng-model="mailing.replyto_email"
                        >
                          <option value=""></option>
                          <option ng-repeat="frm in crmFromAddresses.getAll() | filter:{is_active:1} | orderBy:'weight'"
                                  value="{{frm.label}}">{{frm.label}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div crm-ui-field="{name: 'subform.recipients', title: ts('Recipients'), required: true}">
                      <div crm-mailing-block-recipients="{name: 'recipients', id: 'subform.recipients'}"
                           crm-mailing="mailing" cm-ui-id="subform.recipients"></div>
                    </div>
                    <span ng-controller="EditUnsubGroupCtrl">
                      <div crm-ui-field="{name: 'subform.baseGroup', title: ts('Unsubscribe Group')}"
                           ng-if="isUnsubGroupRequired(mailing)">
                        <input
                                crm-entityref="{entity: 'Group', api: {params: {is_hidden: 0, is_active: 1}}, select: {allowClear:true, minimumInputLength: 0}}"
                                crm-ui-id="subform.baseGroup"
                                name="baseGroup"
                                ng-model="mailing.recipients.groups.base[0]"
                                ng-required="true"
                        />
                      </div>
                    </span>
                    <div crm-ui-field="{name: 'subform.subject', title: ts('Subject')}">
                      <div style="float: right;">
                        <input crm-mailing-token on-select="$broadcast('insert:subject', token.name)" tabindex="-1"/>
                      </div>
                      <input
                              crm-ui-id="subform.subject"
                              crm-ui-insert-rx="insert:subject"
                              type="text"
                              class="crm-form-text"
                              ng-model="mailing.subject"
                              required
                              placeholder="Subject"
                              name="subject"/>
                    </div>
                    <div ng-if="crmMailingConst.isMultiLingual">
                      <div crm-ui-field="{name: 'subform.language', title: ts('Language')}">
                        <select
                                crm-ui-id="subform.language"
                                crm-ui-select="{dropdownAutoWidth : true, allowClear: false, placeholder: ts('- choose language -')}"
                                name="language"
                                ng-model="mailing.language"
                                required
                        >
                          <option value=""></option>
                          <option ng-repeat="(key,val) in crmMailingConst.enabledLanguages" value="{{key}}">{{val}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div crm-ui-tab id="tab-attachment" crm-title="ts('Attachments')">
              <div crm-attachments="attachments"></div>
            </div>
            <div crm-ui-tab id="tab-pub" crm-title="ts('Publication')">
              <div crm-mailing-block-publication crm-mailing="mailing"></div>
            </div>
            <div crm-ui-tab id="tab-response" crm-title="ts('Responses')">
              <div crm-mailing-block-responses crm-mailing="mailing"></div>
            </div>
            <div crm-ui-tab id="tab-tracking" crm-title="ts('Tracking')">
              <div crm-mailing-block-tracking crm-mailing="mailing"></div>
            </div>
          </div>
          <div crm-ui-accordion="{title: ts('Design')}">
            <div crm-mosaico-block-design crm-mailing="mailing" crm-mosaico-ctrl="mosaicoCtrl"></div>
          </div>
          <div crm-ui-accordion="{title: ts('Preview')}">
            <div crm-mailing-block-preview crm-mailing="mailing" on-preview="previewMailing(mailing, preview.mode)" on-send="sendTest(mailing, attachments, preview.recipient)"></div>
          </div>
        </div>
        <div crm-ui-wizard-step crm-title="ts('Review and Schedule')" ng-form="reviewForm">
          <div crm-ui-accordion="{title: ts('Review')}">
            <div crm-mailing-block-review crm-mailing="mailing" crm-mailing-attachments="attachments"></div>
          </div>
          <div crm-ui-accordion="{title: ts('Schedule')}">
            <div crm-mailing-block-schedule crm-mailing="mailing"></div>
          </div>
          <center>
            <a class="button crmMailing-submit-button" ng-click="submit()" ng-class="{blocking: block.check(), disabled: crmMailingSubform.$invalid}">
              <div>{{ts('Submit Mailing')}}</div>
            </a>
          </center>
        </div>

        <span crm-ui-wizard-buttons style="float:right;">
        <button
          crm-icon="fa-trash"
          ng-show="checkPerm('delete in CiviMail')"
          ng-disabled="block.check()"
          crm-confirm="{title:ts('Delete Draft'), message:ts('Are you sure you want to permanently delete this mailing?')}"
          on-yes="delete()">{{ts('Delete Draft')}}</button>
        <button crm-icon="fa-floppy-o" ng-disabled="block.check()" ng-click="save().then(leave)">{{ts('Save Draft')}}</button>
      </span>
      </div>
    </div>
  </div>
</div>
