#bootstrap-theme .crm-form-date-wrapper .form-control {
  display: inline-block;
}

#bootstrap-theme .crm-form-date-wrapper .crm-form-date {
  border-radius: 2px 0 0 2px;
  border-right: 0;
  width: 100px;
  min-width: 100px !important;
}

#bootstrap-theme .crm-form-date-wrapper .crm-form-time {
  width: 75px;
}

#bootstrap-theme .crm-form-date-wrapper .fa-calendar {
  width: 30px;
  text-align: center;
  line-height: 26px;
  height: 30px;
  background-color: #F3F3F6;
  border: 1px solid #C2CFD8;
  border-radius: 0 2px 2px 0;
  margin-bottom: 0px;
  margin-right: 25px;
}

#bootstrap-theme .crm-form-date-wrapper .crm-clear-link {
  background: none;
  border: none;
  position: relative;
  top: 2px;
}
