/* Add any CSS rules for Angular module "crmMosaico" */

.crm-mosaico-template-item {
    opacity: 1.0;
}

.crm-mosaico-template-item:hover img {
    opacity: 0.66;
}


/* Subtly differentiate selected design from template designs */
#bootstrap-theme .thumbnail.crm-mosaico-template-item {
    border: 1px dashed;
}
#bootstrap-theme .thumbnail.crm-mosaico-template-item:hover,
#bootstrap-theme .crm-mosaico-selected .thumbnail.crm-mosaico-template-item {
    border: 1px dotted;
}

#bootstrap-theme.crm-mosaico-page #inputSubject {
    width: 80%;
}

#bootstrap-theme.crm-mosaico-page input[name=campaign],
#bootstrap-theme.crm-mosaico-page select[name=optout_id],
#bootstrap-theme.crm-mosaico-page select[name=resubscribe_id],
#bootstrap-theme.crm-mosaico-page select[name=unsubscribe_id],
#bootstrap-theme.crm-mosaico-page select[name=visibility],
#bootstrap-theme.crm-mosaico-page select[name=preview_test_group] {
    width: 98%;
}

#bootstrap-theme.crm-mosaico-page .crm-mosaico-test-group button {
    margin-top: 1em;
}

#bootstrap-theme.crm-mosaico-page .crm-mailing-recipients-row select {
    width: 70%;
}

#bootstrap-theme.crm-mosaico-wizard {
    padding: 0.7em;
}
