/* Add any CSS rules for Angular module "crmMosaico" */
.crmMailing-recip-est {
  background: #fff;
  min-width: 135px;
  text-align: left;
}

/* Subtly differentiate selected design from template designs */
#bootstrap-theme .thumbnail.crm-mosaico-template-item {
  border: none;
  padding: 0;
}

#bootstrap-theme.crm-mosaico-page #inputSubject {
    width: 80%;
}

#bootstrap-theme.crm-mosaico-page input[name=campaign],
#bootstrap-theme.crm-mosaico-page select[name=optout_id],
#bootstrap-theme.crm-mosaico-page select[name=resubscribe_id],
#bootstrap-theme.crm-mosaico-page select[name=unsubscribe_id],
#bootstrap-theme.crm-mosaico-page select[name=visibility],
#bootstrap-theme.crm-mosaico-page select[name=preview_test_group] {
    width: 98%;
}

#bootstrap-theme.crm-mosaico-page .crm-mosaico-test-group button {
    margin-top: 1em;
}

#bootstrap-theme.crm-mosaico-page .crm-mailing-recipients-row select {
    width: 70%;
}

#bootstrap-theme.crm-mosaico-wizard {
    padding: 0.7em;
}
