/* Add any CSS rules for Angular module "crmMosaico" */

.crm-mosaico-template-item {
    opacity: 1.0;
}

.crm-mosaico-template-item:hover img {
    opacity: 0.66;
}


/* Subtly differentiate selected design from template designs */
#bootstrap-theme .thumbnail.crm-mosaico-template-item {
    border: 1px dashed;
}
#bootstrap-theme .thumbnail.crm-mosaico-template-item:hover,
#bootstrap-theme .crm-mosaico-selected .thumbnail.crm-mosaico-template-item {
    border: 1px dotted;
}

#bootstrap-theme.crm-mosaico-page select[name=preview_test_group] {
    width: 98%;
    margin-bottom: 1em;
}