<span class="thumbnail crm-mosaico-template-item">
  <div class="crm-mosaico-template-image-wrapper">
    <img alt="{{myOptions.title}}" ng-src="{{myOptions.img}}" style="height: 180px; width: 100%; display: block;" ng-click="fireAction('onItemClick')">

    <div class="crm-mosaico-template-actions-wrapper">
      <div class="crm-mosaico-template-actions">
        <a class="btn btn-primary btn-md" title="{{ts(mainActionLabel)}}" ng-click="fireAction('onItemClick')">{{ts(mainActionLabel)}}</a>
        <a class="btn btn-primary btn-md" title="Preview" ng-if="hasAction('ItemPreview')" ng-click="fireAction('onItemPreview')">{{ts('Preview')}}</a>
        <a class="btn btn-primary btn-md" title="Settings" ng-if="hasAction('ItemSettings')" ng-click="fireAction('onItemSettings')">{{ts('Settings')}}</a>
        <a class="btn btn-primary btn-md" title="Copy" ng-if="hasAction('ItemCopy')" ng-click="fireAction('onItemCopy')">{{ts('Copy')}}</a>
        <a class="btn btn-danger btn-md " title="Delete" ng-if="hasAction('ItemDelete')" crm-confirm="{type: 'delete', obj: {title: 'template'}}" on-yes="fireAction('onItemDelete')">{{ts('Delete')}}</a>
        <a class="btn btn-danger btn-md" title="Reset" ng-if="hasAction('ItemReset')" crm-confirm="{title: ts('Reset'), message: ts('Are you sure you want to reset this?')}" on-yes="fireAction('onItemReset')">{{ts('Reset')}}</a>
      </div>
    </div>
  </div>

  <div class="crm-mosaico-template-title-wrapper">
    <p>
      {{myOptions.title}}
      <small ng-if="myOptions.subtitle">{{myOptions.subtitle}}</small>
    </p>
  </div>
</span>
