.crm-mosaico-wizard {
  padding: 0.7em;

  .crm_wizard {
    &__title .nav-pills li.disabled a {
      color: $gray-darker;
    }

    &__footer .crmb-wizard-button-right button:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.mosaico-templates-wrapper {
  margin-top: 30px;
}
